@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: "Open Sans";
  src: url("OpenSans-Regular.ttf");
}

body {
  font-family: "Open Sans", Fallback, sans-serif;
}

.gradient-orange-red {
  background-image: linear-gradient(
    to right,
    rgb(247, 201, 173) 0%,
    rgb(229, 123, 185) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grid-auto-fit {
  grid-template-columns: repeat(auto-fit, 300px);
}

.drop-cap {
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

h2:hover > .anchor svg {
  visibility: visible;
}

h1:hover > .anchor svg {
  visibility: visible;
}

h3:hover > .anchor svg {
  visibility: visible;
}

h1 .anchor svg,
h2 .anchor svg,
h3 .anchor svg {
  display: inline;
  visibility: hidden;
}

.anchor.before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  padding-right: 4px;
}

@media (min-width: 640px) {
  /* ... */
}

/* Medium (md) */
@media (min-width: 768px) {
  /* ... */
}

/* Large (lg) */
@media (min-width: 1024px) {
  /* ... */
}
